# /etc/systemd/system/iris.service
[Unit]
Description=Cosmos iris Node
After=network.target

[Service]
Type=simple
User=iris
WorkingDirectory=/home/iris
ExecStart=/home/iris/go/bin/iris start
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target