name: toolbox
on: [push, pull_request]

jobs:

  toolbox:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        run: docker run --rm --privileged multiarch/qemu-user-static --reset -p yes --credential yes

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2.0.0
        with:
          version: latest

      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: Build Toolbox
        run: |
          cd toolbox
          docker buildx build --tag faddat/toolbox --platform linux/arm64,linux/amd64 --push --cache-from faddat/toolbox:cache --cache-to faddat/toolbox:cache --progress plain .

